﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="/Scripts/jquery-1.12.4.min.js"></script>
    <script src="/Scripts/knockout-3.3.0.js"></script>
    <script src="/Scripts/Script.js"></script>
</head>
<body>
    <input data-bind="value: noteName" type="text" placeholder="Введите название блокнота" />
    <button data-bind="click: btnCreateClick">Создать</button>
    <img data-bind="attr: {src: image}"/>
    <div data-bind="foreach: notes">
        <button class="btn-note" data-bind="text: $data, click: $parent.open, attr: { name: $data }"></button>
    </div>
    <textarea rows="5" data-bind="value: noteContent"></textarea>
<button data-bind="click: saveContent">Сохранить</button>

    @if (ViewBag.Name != null)
    {
        <script>
            setTimeout(function() {
                $('.btn-note[name="@ViewBag.Name"]').click();
            }, 0);
        </script>
    }
</body>
</html>
