﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageCreate</title>
    <script src="/Scripts/jquery-1.12.4.min.js"></script>
    <script src="/Scripts/knockout-3.3.0.js"></script>
    <script src="/Scripts/Script.js"></script>
</head>
<body>
    <input data-bind="value: noteName" type="text" placeholder="Введите название блокнота" />
    <button data-bind="click: btnCreateClick">Создать</button>
</body>
</html>
